HIORG_CLIENT_ID=__REDACTED__
HIORG_CLIENT_SECRET=__REDACTED__
HIORG_REDIRECT_URI=__REDACTED__

HIORG_AUTH_URL=__REDACTED__
HIORG_TOKEN_URL=__REDACTED__
HIORG_API_BASE=__REDACTED__

HIORG_SCOPE=__REDACTED__

STATE_SECRET=__REDACTED__

DATA_DIR=__REDACTED__
OV_LIST=__REDACTED__
INITIAL_SYNC_DAYS=__REDACTED__
SYNC_API_KEY=__REDACTED__

# --- LDAP/AD ---
LDAP_URL=__REDACTED__
LDAP_BIND_USER=__REDACTED__
LDAP_BIND_PASSWORD=__REDACTED__

LDAP_DEFAULT_DOMAIN=__REDACTED__

# HiOrg-ID f¸rs Nextcloud Mapping
LDAP_HIORG_ID_ATTR=__REDACTED__
LDAP_HIORG_ID_PREFIX=__REDACTED__


# leere Werte NICHT ¸berschreiben (Telefonbuch-sicher)
LDAP_OVERWRITE_EMPTY=__REDACTED__

# nur aktive User ¸bernehmen
LDAP_ONLY_STATUS_ACTIVE=__REDACTED__

# Stab04 raus
EXCLUDE_ORGAKUERZEL=__REDACTED__

# ohne Passwort: default disabled (empfohlen)
LDAP_CREATE_ENABLED=__REDACTED__
LDAP_MOVE_IF_OU_CHANGED=__REDACTED__

# OV -> OU
LDAP_OU_MAP=__REDACTED__

# sAMAccountName-Quelle:
# - hiorg_username  -> HiOrg attributes["username"] (z.B. MustermannM)
# - vorname.nachname -> max.mustermann
LDAP_SAM_MODE=__REDACTED__

# falls HiOrg mal anders heiﬂen sollte
LDAP_SAM_USERNAME_KEY=__REDACTED__

# bestehende User umbenennen? (erstmal nein!)
LDAP_UPDATE_SAM=__REDACTED__

# UI Einstellungen
UI_PASSWORD=__REDACTED__
UI_SESSION_SECRET=__REDACTED__
UI_SESSION_TTL_HOURS=__REDACTED__
